# Ignore the virtual environment
datahome/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
.Python

# Flask / local config
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
